<form action="https://wikipedia.org">
  <button>Click Me</button>
</form>

<!--a form is just aother variety of heperlink
-->


<form action="">
  <label for="" ></label>
  <input type="text" id="" name="" >
  <button>Submit</button>
</form>
<!--the name field is the name of the param-->
<!--the job of a form is to create a query string-->
