<h1><%= @num_dice %>d<%= @num_side %></h1>

<a href="">Roll Again</a> | <a href="/">Go Back Home</a>


<ol>
  <% @num_dice.times do %>
  <li><em>Result: <strong><%= rand(1..@num_sides) %></strong></em></li>
  <% end %>
</ol>
